{% extends 'base.html.twig' %}

{% block title %}Détails de l'équipement
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Détails de l'équipement</h1>

	<div class="d-flex justify-content-center m-3">

		<a href="{{ path('equipement_index') }}" class="btn btn-info mr-2">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>
		<a href="{{ path('equipement_edit', {'id': equipement.id}) }}" class="btn btn-warning mr-2">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</a>
		<form action="{{ path('equipement_delete', {'id': equipement.id}) }}" method="post">
			<button type="submit" class="btn btn-danger">
				<i class="fa fa-trash"></i>
			</button>
		</form>
	</div>

	<table class="table d-flex justify-content-center">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ equipement.id }}</td>
			</tr>
			<tr>
				<th>Nom Court</th>
				<td>{{ equipement.nomCourt }}</td>
			</tr>
			<tr>
				<th>Nom Long</th>
				<td>{{ equipement.nomLong }}</td>
			</tr>
			<tr>
				<th>Poids (Kg)</th>
				<td>{{ equipement.poids }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
