{% extends 'base.html.twig' %}

{% block title %}Edition du véhicule
{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Edition du véhicule</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success mx-auto d-flex justify-content-center m-3">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}

	<h3 class="alert alert-secondary text-center">Equipements présents sur ce véhicule</h3>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom Long</th>
				<th>Poids</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for equipement in equipements %}
				<pre>
                {{ dump(equipement) }}
            </pre>
				<tr>
					<td>{{ equipement.equipement.id }}</td>
					<td>{{ equipement.nomLong }}</td>
					<td>{{ equipement.poids }}</td>
					<td class="d-flex justify-content-center">
						<form action="{{ path('vehicule_equipement_delete', {'equipement': equipement.equipement.id, 'vehicule': vehicule.id}) }}" method="post">
							<button type="submit" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="alert alert-danger">Aucun équipement présent sur ce véhicule !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
